from PyQt5.QtWidgets import (
    QLineEdit,
    QWidget,
    QSizePolicy,
    QHBoxLayout,
    QVBoxLayout,
    QPushButton,
    QFrame,
    QScrollArea,
    QProgressBar,
    QSlider,
)

from PyQt5.QtGui import (
    QPixmap,
    QIcon,
    QFont,
)
from PyQt5.QtCore import (
    Qt,
    QSize,
    QCoreApplication,
    QMetaObject,
    QRect,
)
